<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Timer God Only Knows</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="main-cont" class="w-100-v h-100-v">
        <div id="container" class="m-auto text-center">
            <div id="stopwatch-header" class="my-30">
                <h1>The Timer God Only Knows</h1>
                <button id="add-btn" class="btn btn-transparent text-white mx-5">Add Timer</button>
                <button id="clear-btn" class="btn btn-transparent text-white mx-5">Clear Timer</button>
            </div>
        </div>
        
    </div>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/multi-timer.js"></script>
</body>
</html>